<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcai.boot.dao.LoginUserMapper">
    <resultMap id="BaseResultMap" type="com.sgcai.boot.entity.LoginUser">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="login_user" jdbcType="VARCHAR" property="loginUser"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id,login_ip,login_user,login_time
  </sql>
    <insert id="insert" parameterType="com.sgcai.boot.entity.LoginUser">
    insert into t_login_user (id, login_ip, login_user, 
      login_time)
    values (#{id,jdbcType=VARCHAR}, #{loginIp,jdbcType=VARCHAR}, #{loginUser,jdbcType=VARCHAR}, 
      #{loginTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.sgcai.boot.entity.LoginUser">
        insert into t_login_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loginIp != null">
                login_ip,
            </if>
            <if test="loginUser != null">
                login_user,
            </if>
            <if test="loginTime != null">
                login_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="loginIp != null">
                #{loginIp,jdbcType=VARCHAR},
            </if>
            <if test="loginUser != null">
                #{loginUser,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null">
                #{loginTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="lockSelectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_login_user
        for update
    </select>
</mapper>